
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Hello</h1>
<div sec:authorize="isAuthenticated()">
    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
    </div>
<br>

<div class="container-buttons">
    <button>
        <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </button>
    <button>
        <form th:action="@{/information}" method="get">
        <input type="submit" value="Information"/>
        </form>
    </button>
    <button>
        <form th:action="@{/movies}" method="get">
        <input type="submit" value="Show Movies"/>
        </form>
    </button>
    <button>
        <form th:action="@{/library}" method="get">
            <input type="submit" value="My movie library"/>
        </form>
    </button>
    <button>
        <form th:action="@{/subscribe}" method="get">
            <input type="submit" value="Buy Subscribe"/>
        </form>
    </button>
</div>
</body>
</html>