<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
<form th:action="@{/}" th:object="${infoCus}" >
    <div>
        <h2>Login:</h2> <span th:text="*{login}"></span>
    </div>
    <div>
        <h2>Email</h2><span th:text="*{email}"></span>
        <br>
    </div>
    <div th:object="${info}">
        <div>
            <h2>Name:</h2> <span th:text="${info.name}"></span>
        </div>
        <div>
            <br>
            <h2>Surname:</h2> <span th:text="${info.surname}"></span>
            <br>
        </div>
        <div>
            <h2>Age:</h2><span th:text="${info.age}"></span>
            <br>
        </div>
        <div>
            <h2>mobilePhone</h2><span th:text="${info.mobilePhone}"></span>
        </div>
        <h2>Subscribe</h2>
        <span th:if="${status.name() == 'NOT_PAID'}">Not paid</span>
        <span th:if="${status.name() == 'PAID'}">
            Paid until
            <span th:text="${EndOfSub}"></span>
        </span>
    <br><br>
    <input type="submit" value="Return"/>
        </div>
</form>
<br>
<form th:action="@{/information/new}" method="get" >
    <input type="submit" value="Edit info"/>
</form>

</body>
</html>