<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch movie online</title>
</head>
<body>
<div>
    <label>Name:</label>
        <span th:text="*{Movie.movie_name}"></span>
    <p>
        <label>Release Data:</label>
            <span th:text="*{Movie.releaseData}"></span>
    </p>
   <p>
       <label>Price:</label>
            <span th:text="*{Movie.movies_price}"></span>
   </p>
    <p>
        <label>Review:</label>
            <span th:text="*{Movie.review}"></span>
    </p>
    <p>
        <label>Company:</label>
            <span th:text="*{MovieCompany}"></span>
    </p>
    <p>
    <label>Actors:</label>
        <tr th:each="MovieActor,iterStat : ${MovieActors}">

            <td th:text ="*{MovieActor.name}"></td>

            <td th:text ="${MovieActor.surname} + ${!iterStat.last ? ', ' : ''}"></td>

        </tr>
    </p>
    <p>
        <label>Author:</label>
            <span th:text="*{MovieAuthor.authorName}"></span>

            <span th:text="*{MovieAuthor.authorSurName}"></span>
    </p>
    <p>
        <label>Genres:</label>
        <tr th:each="MovieGenre,iterStat : ${MovieGenres}">

            <td th:text ="${MovieGenre.name} + ${!iterStat.last ? ', ' : ''}"></td>

        </tr>
    </p>
</div>
<div class="container-buttons">
    <button>
        <form th:action="@{/movies}" method="get">
        <input type="submit" value=Return>
    </form>
    </button>
        <br><br>
        <span th:if="${IsAlreadyBought == 0}">
            <form th:action="@{/movies/{id}(id=${Movie.id_movies})}" method="post">
            <input type="submit" value=Buy>
        </form>
        </span>

</div>
<div>
    <span th:if="${IsAlreadyBought>0}">
           <h2>You have already bought this movie</h2>
       </span>
</div>

</body>
</html>