<html lang="en">
<footer class="footer">
    <div class="footer_content">
        <div class="container">
            <div class="footer_inner">
                <div class="footer_info">
                    <div class="footer_title">
                        OUR CINEMA IN NEW-YORK
                    </div>
                    <div class="footer_text">
                        If you want to go to the best cinema in the USA, you should go to us
                        use these contact or map to contact with us
                    </div>
                    <a data-fancybox data-src="#modal" href="javascript:"
                       class="header_btn" th:href="@{/movies}">
                        Movies Treasure
                    </a>
                    <ul class="footer_list">
                        <li><a class = "footer_phone" href="tel:380963092145">+38 (096) 309 21 45</a></li>
                        <li><a href="#">surtx0119gmail.com</a></li>
                        <li><a class = "footer_address" href="#">102 North End Ave, New York</a></li>

                    </ul>
                </div>
                <div class="footer_map">
                    <iframe width="630px" height="250px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.134755936992!2d-74.0155621!3d40.
                715049900000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                1!3m3!1m2!1s0x89c25a1b7e5f8307%3A0xde5b402ce13371d5!2zMTAyIE5vcnRoIEVuZCBBdmUsIE5ldyBZb3JrLCBOWSAxMDI4Miwg0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!5e0!3m2!1suk!2spl!4v1655322789516!5m2!1suk!2spl"
                            style="border:0;"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copy">
        <div class="container">
            <div class="copy_text">
                © 2022 Created By Kharchenko Vladyslav.
            </div>
        </div>
    </div>
</footer>
</html>